<!DOCTYPE html>
<html>
<head>
	<title>Owner Login</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='librestyle.css') }}">
	<link rel="icon" href="static/book_icon.png">
</head>
<body>
<div class="mainbody">
<form method="POST">
		<label>Username: </label>
		<input type="text" for="username" name="username" value="{{ request.form['username'] }}" />
		<label>Password: </label>
		<input type="text" for="password" name="password" value="{{ request.form['password'] }}" />
		<hr>
		<button type="submit">Login</button>
	</form>
</div>
</body>

</html>