<!doctype html>
<html>
<head>
	<title>Stocking</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='librestyle.css') }}">
	<link rel="icon" href="static/book_icon.png">
</head>
<body>
	<p>This page is intended for stocking purposes. To begin, simply scan the barcode or manually enter the ISBN of the book that you are attempting to enroll. If the book exists in the database already, the count will be increased by one. If it does not, you will be redirected to the enrollment page.</p>
	<hr>

	<form method="POST">
		<label for="inv_management">I would like to: </label>
		<select id="inv_management" name="inv_management">
			<option value="stock">Stock</option>
			<option value="sell">Sell</option>
		</select>
		<!-- <label for="stock">Stock</label>
		<input type="radio" id="stock" name="decision" for="decision" value="stock">
		<label for="sell">Sell</label>
		<input type="radio" id="sell" name="decision" for="decision" value="sell"> -->
		<label>ISBN / Barcode: </label>
		<input type="text" for="barcode_input" name="barcode_input" value="{{ request.form['barcode_input'] }}" />
		<hr>
		<button type="submit">Add / Remove Book</button>
	</form>
	<hr>
	<a href="{{ url_for('index') }}">Return Home</a>
	

</body>

</html>